.homePageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #171D2D;
}

.incomeContainer {
    display: flex;
    flex-direction: column;
    border: 5px solid #0A0E1D;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: #0A0E1D;
    color: #fff;
}

.incomeInputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incomeInputsContainer input {
    width: 170px;
}

.incomeInputsContainer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}